.content {
  background-color: royalblue;
  padding: 20px;
}

/*------- CHESSFG --------*/

.chessfg {
  min-width: 280px;
  max-width: 450px;
  margin: 0 auto;
}

.chessfg__line {
  display: flex;
}

.chessfg__cell {
  width: 12.5%;
  padding-top: 12.5%;
  background-color: #321b09;
  cursor: pointer;
}

.chessfg__line:nth-of-type(2n-1) .chessfg__cell:nth-of-type(2n) {
  background-color: #62350a;
}

.chessfg__line:nth-of-type(2n) .chessfg__cell:nth-of-type(2n-1) {
  background-color: #62350a;
}

.chessfg__cell_active {
  transition: transform 1s;
  transform: rotateY(180deg);
}